<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">HiveMind</a>
    </div>
	
    <ul class="nav navbar-nav navbar-right">
        <li><%= button_to "Add Thought", new_thought_path, :class => "btn btn-lg btn-primary", :method => :get  %></li> 
		<li><%= link_to "About", static_pages_about_path %></li> 
		<li><%= link_to "FAQ", static_pages_faq_path %></li> 
    </ul>
  </div>
</nav>
<br><br><br>
<% @thoughts.each_slice(3) do |thoughts| %>
    <div class="row">
		<% thoughts.each do |thought| %>
		<div class="col-lg-4">
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">
				  <h3 class="panel-title pull-left">
					Feeling
					<%= thought.mood %>
					in
					<%= thought.location %>
				  </h3>
				  <%= button_to "Report", new_thought_path, :class => "btn btn-xs btn-danger pull-right", :method => :get  %>
				</div>
				<div class="panel-body">
				  <%= thought.body %>
				</div>
			</div>
		</div>
		<% end %>    
	</div>
<% end %>