<head>
</head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div>
	<nav class="navbar navbar-inverse navbar-static-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <%= link_to image_tag( "world-thoughts-logo-v2.png", height: "60", width: "180"), root_path %>
		</div>
		
		<p class="nav navbar-nav navbar-right pull-left text-success">
		<% if logged_in? %>
		<%= "Logged in as #{current_user.username}"%>
		<%= link_to "(logout)", logout_path %> 
		<% end %>
		</p>
		
		<ul class="nav navbar-nav navbar-right pull-right">
			<li><%= link_to "FAQ", static_pages_faq_path %></li> 
			<li><%= button_to "Add your thought!", new_thought_path, :class => "btn btn-lg btn-primary", :method => :get  %></li>
		</ul>
	  </div>
	</nav>
</div>
<div class="container">
	<% @thoughts.each_slice(3) do |thoughts| %>
		<div class="row">
			<% thoughts.each do |thought| %>
			<div class="col-lg-4">
				<div class="panel panel-primary">
					<div class="panel-heading clearfix">
					  <h3 class="panel-title pull-left">
						Feeling
						<%= thought.mood %>
						in
						<%= thought.location %>
					  </h3>
					  <% if logged_in? %>
					  <%= button_to "delete", thought_path(thought.id), :class => "btn btn-xs btn-danger pull-right", :method => :delete %>
					  <% end %>
					</div>
					<div class="panel-body">
					  <%= thought.body %>
					</br></br>
					<%= link_to "Comments ", thought_path(thought.id) %> (<%= thought.comments.size %>)
					</div>
				</div>
			</div>
			<% end %>    
		</div>
	<% end %>
</div>
</body>