<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
	<nav class="navbar navbar-inverse navbar-static-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <%= link_to image_tag( "world-thoughts-logo-v3.png", height: "40", width: "170"), root_path %>
		</div>
		
		<ul class="nav navbar-nav navbar-right pull-right">
			<li><%= link_to "FAQ", static_pages_faq_path %></li> 
			<li><%= button_to "Add your thought!", new_thought_path, :class => "btn btn-lg btn-primary", :method => :get  %></li> 
		</ul>
	  </div>
	</nav>
</div>
<%= form_for(@thoughts) do |f| %>
  <ul>
  <% @thoughts.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <div class="container">
	  <form class="form-inline" role="form">
		  <div class="form-group">
			<%= f.label :mood, "How are you feeling?"%><br />
			<%= f.select( :mood, ["happy", "sad", "angry", "disappointed", "stuffed", "fat", "on top of the world", "in love", "love", "alive", "good", "strong", "positive", "interested", "hate"], {class: "form-control"}) %>
		  </div>
		  <div class="form-group">
			<%= f.label :location, "Where are you from?"%><br />
			<%= f.select( :location, ["North America", "South America", "West Europe", "East Europe", "Asia", "Africa", "Australia"], {class: "form-control"}) %>
		  </div>
		  <div class="form-group">
			<%= f.label :body , "What are you thinking right now" %><br />
			<%= f.text_area( :body , {class: "form-control"}) %>
		  </div>
		  <div class="form-group">
			<%= f.submit( {class: "btn btn-lg btn-primary"})%>
		  </div>
	  </form>
	</div> 
<% end %>
</body>
