<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
	<nav class="navbar navbar-inverse navbar-static-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="/">WorldThoughts</a>
		</div>
		
		<ul class="nav navbar-nav navbar-right pull-right">
			<li><%= button_to "Add your thought!", new_thought_path, :class => "btn btn-lg btn-primary", :method => :get  %></li> 
			<li><%= link_to "About", static_pages_about_path %></li> 
			<li><%= link_to "FAQ", static_pages_faq_path %></li> 
		</ul>
	  </div>
	</nav>
</div>
<%= form_for(@thoughts) do |f| %>
  <ul>
  <% @thoughts.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <div class="container">
	  <form class="form-inline" role="form">
		  <div class="form-group">
			<%= f.label :mood, "How are you feeling?"%><br />
			<%= f.select( :mood, ["happy", "sad", "angry", "disappointed", "stuffed", "fat","on top of the world"], {class: "form-control"}) %>
		  </div>
		  <div class="form-group">
			<%= f.label :location, "Where are you from?"%><br />
			<%= f.select( :location, ["Afganistan","Albania","Algeria","American Samoa","Andorra","Angola","Anguillanguilla","Antigua Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bonaire","Bosnia Herzegovina","Botswana","Brazil","British Indian Ocean Ter","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Canary Islands","Cape Verde","Cayman Islands","Central African Republic","Chad","Channel Islands","Chile","China","Christmas Island","Cocos Island","Colombia","Comoros","Congo","Cook Islands","Costa Rica","Cote DIvoire","Croatia","Cuba","Curaco","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","East Timor Timor","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Guiana","French Polynesia","French Southern Ter","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Great Britain","Greece","Greenland","Grenada","Guadeloupe","Guam","Guatemala","Guinea","Guyana","Haiti","Hawaii","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Kiribati","Korea North","Korea Sout","Kuwait","Kyrgyzstan","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malaysia","Malawi","Maldives","Mali","Malta","Marshall Islands","Martinique","Mauritania","Mauritius","Mayotte","Mexico","Midway Islands","Moldova","Monaco","Mongolia","Montserrat","Morocco","Mozambique","Myanmar","Nambia", "Narnia", "Nauru","Nepal","Netherland Antilles","Netherlands","Nevis","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","Niue","Norfolk Island","Norway","Oman","Pakistan","Palau Island","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Phillipines","Pitcairn Island","Poland","Portugal","Puerto Rico","Qatar","Republic of Montenegro","Republic of Serbia","Reunion","Romania","Russia","Rwanda","St Barthelemy ","St Eustatius","St Helena","St Kitts-Nevis","St Lucia","St Maarten","Saipan","Samoa","Samoa American","San Marino","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","Solomon Islands","Somalia","South Africa","Spain","Sri Lanka","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Tahiti","Taiwan","Tajikistan","Tanzania","Thailand","Togo","Tokelau","Tonga","Tunisia","Turkey","Turkmenistan","Tuvalu","Uganda","Ukraine","United Arab Erimates","United Kingdom","United States of America","Uraguay","Uzbekistan","Vanuatu","Vatican City State","Venezuela","Vietnam","Virgin Islands (Brit)","Virgin Islands (USA)","Wake Island","Yemen","Zaire","Zambia","Zimbabwe"], {class: "form-control"}) %>
		  </div>
		  <div class="form-group">
			<%= f.label :body , "What are you thinking right now" %><br />
			<%= f.text_area( :body , {class: "form-control"}) %>
		  </div>
		  <div class="form-group">
			<%= f.submit( {class: "btn btn-lg btn-primary"})%>
		  </div>
	  </form>
	</div> 
<% end %>
</body>
