<head>
</head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div>
	<nav class="navbar navbar-inverse navbar-static-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <%= link_to image_tag( "world-thoughts-logo-v3.png", height: "40", width: "170"), root_path %>
		</div>
		
		<p class="nav navbar-nav navbar-right pull-left text-success">
		<% if logged_in? %>
		<%= "Logged in as #{current_user.username}"%>
		<%= link_to "(logout)", logout_path %> 
		<% end %>
		</p>
		
		<ul class="nav navbar-nav navbar-right pull-right">
			<li><%= link_to "FAQ", static_pages_faq_path %></li> 
			<li><%= button_to "Add your thought!", new_thought_path, :class => "btn btn-lg btn-primary", :method => :get  %></li>
		</ul>
	  </div>
	</nav>
</div>
<div class="container">
	<div class="panel panel-primary">
					<div class="panel-heading clearfix">
					  <h3 class="panel-title pull-left">
						Feeling
						<%= @thoughts.mood %>
						in
						<%= @thoughts.location %>
					  </h3>
					</div>
					<div class="panel-body">
					  <%= @thoughts.body %>
					</div>
	</div>
	<%= link_to "<< Back to all thoughts", root_path %>
	
	<h3>Comments</h3>
	<%= render partial: 'thoughts/comment', collection: @thoughts.comments %>
	
	<%= render partial: 'comments/form' %>
</div>
</body>